<!-- filepath: /C:/Users/AULA-1/Documents/GitHub/django/djangotutorial/pauta/templates/pauta/index.html -->
<!DOCTYPE html>
<html>

<head>
    <title>Pauta</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <button type="button" class="btn btn-info btn-lg"><a href="http://127.0.0.1:8000/">Início</a></button>
    </div>

    <div class="container">
        <h1>Bem-vindo à Pauta!</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Hora</th>
                    <th>Nome</th>
                    <th>Situação</th>
                </tr>
            </thead>
            <tbody>
                {% for pauta in pautas %}
                <tr>
                    <td>{{ pauta.data }}</td>
                    <td>{{ pauta.hora }}</td>
                    <td>{{ pauta.nome }}</td>
                    <td>{{ pauta.situacao }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Bootstrap JS e dependências -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>