{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial dos Projetos</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-image: url('{% static "imagens/logo.jpg" %}');
            background-size: cover;
            background-position: center;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            text-align: center;
        }

        .btn {
            margin: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="text-white bg-secondary fixed-top">Bem-vindo à Página Inicial dos Projetos!</h1>
        <a href="{% url 'admin:index' %}" class="btn btn-primary">Admin</a>
        <a href="{% url 'polls:index' %}" class="btn btn-secondary">Polls</a>
    </div>

    <div id="cookiebar" class="cookie-police-bar" style="display: block;">
        <div class="cookie-police-bar-title">
            <h3>Esse Site usa Cookies</h3>
            <button onclick="setCookieBar()" class="cookie-police-bar-title-button" aria-label="Fechar"></button>
        </div>
        <div class="cookie-police-bar-text">
            <p>Esse site utiliza cookies para oferecer uma melhor experiência de navegação, analisar como você interage
                em nosso site, otimizar o desempenho e personalizar o conteúdo. Ao utilizar este site, você concorda com
                o uso de cookies. Saiba mais em nosso <a href="https://www.canalda" target="_blank"
                    rel="noreferrer">Portal de Privacidade.</a></p>
            <button onclick="setCookieBar()" class="cookie-police-bar-text-button">OK</button>
        </div>
    </div>
    <!-- Bootstrap JS e dependências -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>